# NO MODIFICAR NI ELIMINAR ESTE FICHERO. 
# Copiar a .env.development.local para su uso.

# https://es.vite.dev/guide/env-and-mode 
# Se carga en todos los casos. Ignorado por git.
# Prioridad sobre .env.development cuando se ejecuta
# npm run dev
